/*
	Theme Name: Blood Donation
	Author: Palefire
	Version: 1.0
	Author URI: https://thepalefire.com
*/

body, div{ margin: 0; padding:0;}

/** Header +=*/
header{ width:100%;height:30vh; }
header .laptop{ margin-left:0; margin-right:0; padding:30px 0 0 0;}
header .laptop .logo{ width:90px; height:90px; text-align:center}
header .laptop .logo a{ }
header .laptop .logo img{ width:90px;height:90px; }
header .laptop .club{ text-align: center}
header .laptop .club h2{ font-family:Sometimes Times; color:red;font-weight:700; font-size:38px;}
header .laptop .social{ width:50px; height:50px; text-align:center}
header .laptop .social a{ }
header .laptop .social img{ width:50px;height:50px; }
header .mobile{ display:none}



/** Home +=*/

.home-container{ width:100%;height:200vh;  background:#2B3A41;  }
.home-container .left-container{ height:200vh;width:100%; background-size:cover; position:relative; background-repeat:no-repeat;overflow:hidden}
.home-container .left-container::after{ position:absolute; width:100%; height:100%; content:''; top:0; left:0; background:rgba(0,0,0,0.5);  }
.home-container .right-container{ height:200vh;   }
.home-container .right-container .full-form{ padding:60px 80px 10px 100px; }
.home-container .right-container .full-form h2{ font-weight:300; font-size:45px; margin-bottom:50px;color:#B3C2CA;font-family:Sometimes Times;font-style:italic;  }
.home-container .right-container .full-form label{ color:#B3C2CA; }
.home-container .right-container .full-form .form-field input[type=text],
.home-container .right-container .full-form .form-field input[type=email],
.home-container .right-container .full-form .form-field select,
.home-container .right-container .full-form .form-field input[type=tel],
.home-container .right-container .full-form .form-field input[type=submit] {background:#222E34 ; border:none; border-radius:unset; height:40px;}
.home-container .right-container .full-form .form-field textarea {background:#222E34 ; border:none; border-radius:unset; height:100px;}

/** Bllod Campaign +=*/
.blood-campaign{height:70vh; position:relative;}
.blood-campaign .blood-campaign-content{ text-align:center; padding:60px 0;}
.blood-campaign .blood-campaign-content h1{font-family:Felix,serif; font-weight:500; font-size:8vw; text-transform:uppercase;}
.blood-campaign .blood-campaign-content p{font-size:14px; width:400px; margin-left:50%; transform:translateX(-50%)}
.blood-campaign .left-img{position:absolute; height:100px; width:100px; left:88px; top:51px;}
.blood-campaign .left-img img{  width:100%; }
.blood-campaign .middle-img{position:absolute; height:100px; width:100px; left:160px; bottom:51px;}
.blood-campaign .middle-img img{ width:100%; }
.blood-campaign .right-img{position:absolute; height:200px; width:200px; right:0px; top:30vh;}
.blood-campaign .right-img img{width:100%;}
/** Header +=*/
/** Header +=*/
/** Header +=*/
/** Header +=*/
/** Header +=*/
/** Header +=*/
/** Header +=*/
/** Header +=*/
/** Footer +=*/
