@media only screen and (min-width : 321px) and (max-width : 575px) {

	header{height:8vh;}
	header .laptop{  display:none }
	header .mobile{ display: flex;margin-left:0; margin-right:0; padding:30px 0 0 0; }
	header .mobile .logo{ width:90px; height:90px; text-align:center }
	header .mobile .logo a{  }
	header .mobile .logo img{ width:40px; height:40px; }
	header .mobile .club{ text-align: center}
	header .mobile .club h2{ font-family:Sometimes Times; color:red;font-weight:700; font-size:23px;}
	header .mobile .social{ width:50px; height:50px; text-align:right}
	header .mobile .social a{ }
	header .mobile .social img{ width:35px;height:35px; }


	.home-container .left-container{display:none;}
	.home-container .right-container .full-form{ padding:30px 20px 10px 30px; }

	.blood-campaign{height:60vh}
	.blood-campaign .left-img{width:50px; left:1px;}
	.blood-campaign .middle-img{left:58px; bottom:71px}
	.blood-campaign .right-img{width:150px;top:32vh;}

	.blood-campaign .blood-campaign-content p{width: 100%; }
}









@media only screen and (max-width : 320px) {} 